<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Soccer Board Events</h1>
    <p>
      Hi, Team <%= @team_name %> has invited you the the event:<br>
    </p>
     
     <a href="http://localhost:3000/events/<%= @event.id %>"> <%= @event.subject.titleize %> Event</a> 
    
    <p>We hope you can make it!</p>
  </body>
</html>