<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Soccer Board Ownership transfer notification</h1>
    <p>
      We wanted to let you know that the request for transfering the ownership of Team <%= @team_name %> for the player <%= @player_name %>, from the owner <%= @old_owner_name%> has been <%= @decision %>
    </p>
  </body>
</html>